@font-face {
  font-family: 'icomoon';
  src:  url('https://s3.amazonaws.com/icomoon.io/42560/SquawAlpine/icomoon.eot?whxbqd');
  src:  url('https://s3.amazonaws.com/icomoon.io/42560/SquawAlpine/icomoon.eot?whxbqd#iefix') format('embedded-opentype'),
    url('https://s3.amazonaws.com/icomoon.io/42560/SquawAlpine/icomoon.woff2?whxbqd') format('woff2'),
    url('https://s3.amazonaws.com/icomoon.io/42560/SquawAlpine/icomoon.ttf?whxbqd') format('truetype'),
    url('https://s3.amazonaws.com/icomoon.io/42560/SquawAlpine/icomoon.woff?whxbqd') format('woff'),
    url('https://s3.amazonaws.com/icomoon.io/42560/SquawAlpine/icomoon.svg?whxbqd#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow:before {
  content: "\e91e";
}
.icon-environmental2:before {
  content: "\e91c";
}
.icon-community:before {
  content: "\e91d";
}
.icon-leadership:before {
  content: "\e91f";
}
.icon-program-advanced:before {
  content: "\e90d";
}
.icon-program-beginner:before {
  content: "\e90e";
}
.icon-program-children:before {
  content: "\e90f";
}
.icon-program-family:before {
  content: "\e910";
}
.icon-program-intermediate:before {
  content: "\e911";
}
.icon-terrain-mountain:before {
  content: "\e90c";
}
.icon-instruction-logo:before {
  content: "\e909";
}
.icon-xicon:before {
  content: "\e905";
}
.icon-lift_carpet:before {
  content: "\e906";
}
.icon-lift_telechord:before {
  content: "\e907";
}
.icon-lift_triple:before {
  content: "\e908";
}
.icon-lift_6pack:before {
  content: "\e900";
}
.icon-lift_double:before {
  content: "\e901";
}
.icon-lift_quad:before {
  content: "\e902";
}
.icon-survey:before {
  content: "\e64a";
}
.icon-chair_lift_hero:before {
  content: "\e63e";
}
.icon-calendar_inter:before {
  content: "\e63f";
}
.icon-environment_inter:before {
  content: "\e640";
}
.icon-gondola_inter:before {
  content: "\e641";
}
.icon-handshake_inter:before {
  content: "\e642";
}
.icon-map_inter:before {
  content: "\e643";
}
.icon-mountain_inter:before {
  content: "\e644";
}
.icon-NotComplete:before {
  content: "\e645";
}
.icon-step_icon:before {
  content: "\e646";
}
.icon-tree_inter:before {
  content: "\e647";
}
.icon-status_open:before {
  content: "\e918";
}
.icon-status_scheduled:before {
  content: "\e919";
}
.icon-status_delayed:before {
  content: "\e91a";
}
.icon-status_close:before {
  content: "\e91b";
}
.icon-trail_beginner:before {
  content: "\e608";
}
.icon-trail_intermediate:before {
  content: "\e609";
}
.icon-trail_advanced:before {
  content: "\e628";
}
.icon-trail_expert:before {
  content: "\e62a";
}
.icon-status_open_old:before {
  content: "\e62b";
}
.icon-status_close_old:before {
  content: "\e62c";
}
.icon-icon_39552copy:before {
  content: "\e60f";
  color: #000;
}
.icon-unknown:before {
  content: "\e618";
}
.icon-sunny:before {
  content: "\e619";
}
.icon-mostly_sunny:before {
  content: "\e61a";
}
.icon-partly_sunny:before {
  content: "\e61b";
}
.icon-cloudy:before {
  content: "\e61c";
}
.icon-sun_snow:before {
  content: "\e61d";
}
.icon-light_snow:before {
  content: "\e61e";
}
.icon-snow:before {
  content: "\e61f";
}
.icon-heavy_snow:before {
  content: "\e620";
}
.icon-mixed_precipitation:before {
  content: "\e621";
}
.icon-rain:before {
  content: "\e622";
}
.icon-drizzle:before {
  content: "\e623";
}
.icon-thunderstorm:before {
  content: "\e624";
}
.icon-windy:before {
  content: "\e625";
}
.icon-hail:before {
  content: "\e626";
}
.icon-fog:before {
  content: "\e627";
}
.icon-cog:before {
  content: "\e74a";
}
.icon-share:before {
  content: "\e755";
}
.icon-grid:before {
  content: "\e780";
}
.icon-calendar:before {
  content: "\e7ae";
}
.icon-down:before {
  content: "\e7cc";
}
.icon-right:before {
  content: "\e7cd";
}
.icon-up:before {
  content: "\e7ce";
}
.icon-left:before {
  content: "\e7cf";
}
.icon-tick:before {
  content: "\e7d6";
}
.icon-cross:before {
  content: "\e7d7";
}
.icon-dash:before {
  content: "\e7d8";
}
.icon-plus:before {
  content: "\e7d9";
}
.icon-search:before {
  content: "\e7e9";
}
.icon-clock:before {
  content: "\e7f0";
}
.icon-cross_circle:before {
  content: "\e7f5";
}
.icon-plus_circle:before {
  content: "\e7f7";
}
.icon-clock_time:before {
  content: "\e873";
}
.icon-calendar_2:before {
  content: "\e875";
}
.icon-marker:before {
  content: "\e878";
}
.icon-marker_add:before {
  content: "\e87b";
}
.icon-marker_2:before {
  content: "\e87c";
}
.icon-pin:before {
  content: "\e87f";
}
.icon-download:before {
  content: "\e8d2";
}
.icon-phone:before {
  content: "\e903";
}
.icon-email:before {
  content: "\e90a";
}
.icon-email_add:before {
  content: "\e90b";
}
.icon-uniE94A:before {
  content: "\e94a";
}
.icon-message:before {
  content: "\e916";
}
.icon-camera:before {
  content: "\e6fa";
}
.icon-plane_2:before {
  content: "\e743";
}
.icon-webcam:before {
  content: "\e768";
}
.icon-zoom_in:before {
  content: "\e7ed";
}
.icon-status_out:before {
  content: "\e7f2";
}
.icon-uniE802:before {
  content: "\e802";
}
.icon-uniE803:before {
  content: "\e803";
}
.icon-uniE804:before {
  content: "\e804";
}
.icon-uniE805:before {
  content: "\e805";
}
.icon-uniE806:before {
  content: "\e806";
}
.icon-uniE807:before {
  content: "\e807";
}
.icon-uniE808:before {
  content: "\e808";
}
.icon-uniE809:before {
  content: "\e809";
}
.icon-smile:before {
  content: "\e893";
}
.icon-chat:before {
  content: "\e914";
}
.icon-clock_icon:before {
  content: "\e921";
}
.icon-closed_icon:before {
  content: "\e922";
}
.icon-open_icon:before {
  content: "\e923";
}
.icon-play_button:before {
  content: "\e924";
}
.icon-program-disabled:before {
  content: "\e920";
}
.icon-hikers:before {
  content: "\e913";
}
.icon-mountaintop:before {
  content: "\e915";
}
.icon-scenic:before {
  content: "\e917";
}
.icon-dogpaw:before {
  content: "\e912";
  color: rgba(0, 67, 123, 0.25);
}
.icon-weather_icon:before {
  content: "\e639";
}
.icon-seasonpass_2:before {
  content: "\e648";
  color: #000;
}
.icon-instagram<br>:before {
  content: "\e604";
}
.icon-youtube:before {
  content: "\e5ff";
}
.icon-skiier:before {
  content: "\e603";
}
.icon-snowflake:before {
  content: "\e610";
}
.icon-gondola:before {
  content: "\e612";
}
.icon-plane:before {
  content: "\e613";
}
.icon-family:before {
  content: "\e614";
}
.icon-snowboarder:before {
  content: "\e615";
}
.icon-pass:before {
  content: "\e616";
}
.icon-play:before {
  content: "\e636";
}
.icon-seasonpass:before {
  content: "\e649";
}
.icon-list:before {
  content: "\e629";
}
.icon-play2:before {
  content: "\e637";
}
.icon-arrow-left:before {
  content: "\e62d";
}
.icon-arrow-down:before {
  content: "\e62e";
}
.icon-arrow-up:before {
  content: "\e62f";
}
.icon-arrow-right:before {
  content: "\e630";
}
.icon-arrow-left2:before {
  content: "\e631";
}
.icon-arrow-down2:before {
  content: "\e632";
}
.icon-arrow-up2:before {
  content: "\e633";
}
.icon-uniE632:before {
  content: "\e634";
}
.icon-mail:before {
  content: "\e607";
}
.icon-quote:before {
  content: "\e904";
}
.icon-sun:before {
  content: "\e63a";
}
.icon-question:before {
  content: "\e63d";
}
.icon-cw:before {
  content: "\e63c";
}
.icon-list2:before {
  content: "\e606";
}
.icon-play22:before {
  content: "\e63b";
}
.icon-arrow-left3:before {
  content: "\e617";
}
.icon-arrow-down3:before {
  content: "\e611";
}
.icon-arrow-up3:before {
  content: "\e635";
}
.icon-arrow-right2:before {
  content: "\e60a";
}
.icon-flickr:before {
  content: "\e601";
}
.icon-vimeo:before {
  content: "\e60b";
}
.icon-twitter:before {
  content: "\e60c";
}
.icon-twitter2:before {
  content: "\e60d";
}
.icon-facebook:before {
  content: "\e600";
}
.icon-facebook2:before {
  content: "\e60e";
}
.icon-googleplus:before {
  content: "\e605";
}
.icon-pinterest:before {
  content: "\e602";
}
.icon-instagram:before {
  content: "\e638";
}
